// scroll burger off

//body lock
._lock {
  overflow: hidden;
}

// global container
._container {
  max-width: 1600px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

// image ibg
._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.btn {
  width: 222px;
  height: 222px;
  background: linear-gradient(
    142deg,
    #ffa104 16.22%,
    #ff7a03 54.16%,
    #ffa104 90.11%
  );
  padding: 26px;
  border-radius: 50%;
  &:hover {
    background: #ff7a03;
    animation: circle 5s linear;
  }
}

text {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 20px;
  fill: white;
}


// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



