// Fonts
$fontMain: sans-serif;
$fontSecondary: "";

//color

$background: #002733;
$backgroundLight: #0b3948;
$colorWhite: #ffffff;
$colorBlack: #001019;
$colorOrange: #ff7a03;
$primary: "";
$secondary: "";
